.App {
  text-align: center;
}

body {
  background-color: rgb(241, 221, 193);
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding-inline-start: 0;
  width: 90%;
  margin: 20px auto;
}

.todo-card {
  width: 250px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px;
  padding: 10px;
  background-color: teal;
}